.sidebar{
  width: fit-content;
  /* height: 100vh; */
  /* border: 2px solid red; */
  /* padding: 5px; */
  /* margin: 5px; */
}


.sidebar-list{
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.sidebar-text{
  margin:5px 10px
}

.icons-motor{
  margin-left: 20px;
}

.apps{
  display: flex;
}

.main{
  position: relative;
 padding-left: 50px;
}

.main-header{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 150px;
  margin-bottom: 45px;
  margin-right: 10px;
}

.main-header > div {
  background-color: rgba(255, 255, 255, 0.8);

}

.section-header{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 60px;
  margin-bottom: 45px;
}

.section-header > div {
  background-color: rgba(255, 255, 255, 0.8);

}

.main-para{
  font-weight: bold;
  font-size:0.7em;
  color: gray;
  margin: 0em;
  padding: 0em;
}

.main-para-text{
  font-weight:800;
  font-size:0.7em;
  color: red;
  margin: 0em;
  padding: 0em;

}

.main-head{
  font-weight: bold;
  font-size:small;
  margin: 0em;
  padding: 0em;
}

.home-header{
  display: flex;
  align-items: center;
}


.view-button{
  border: 2px solid red;
  padding: 4px 10px;
  border-radius: 5px;
  color: red;
  font-size: 0.8em;
  margin: 0px 5px;
  background-color: white;
  cursor: pointer;
}

.view-button:hover{
  border: 2px solid red;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  margin: 0px 5px;
  background-color: red;
  cursor: pointer;
}

.awaiting-button{
  border: 2px solid red;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  background-color: red;
  font-size: 0.8em;
  margin: 0px 5px;
  cursor: pointer;
}

svg{
 margin-right: 8px;
}

.additional-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em;
  margin: 0em;
}

.edit-additional-button{
  border: 2px solid  black;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-size: 0.8em;
  margin: 0px 5px;
  cursor: pointer;
}



.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.house-header{
  color: red;
  padding: 0em;
  margin-bottom: 10px;
}


.house-detail{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 60px;
  margin-bottom: 10px;
}

.inventory-header{
  color: red;
 padding: 10px;
  margin-bottom: 10px;
  /* border: 1px solid gray; */
  background-color: rgb(231, 225, 225);
  position: relative;
}


.inventory-category{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: red;
  color: white;
  padding: 0.35em;
  margin: 0px 5px;
}

.icon-drop{
 position: absolute;
 left: 90%;
 cursor: pointer;
}

.categories{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* gap: 0em; */
  /* margin-bottom: 10px; */
}
.category-list{
  cursor: pointer;
}

.category-head{
  font-weight: bold;
  font-size:medium;
 
}

.category-sub-list{
  font-size: small;
}

hr{
  color: black;
  border: 2px solid black;
  margin: 50px 0px;
}
